Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
# Answer..

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [4]:
# Answer 3....


import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer 4.....

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. A Pandas DataFrame can be thought of as a collection of Pandas Series, where each column is a Pandas Series.

A Pandas Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a single column of data in an SQL table. In other words, a Series is a single column of data in a DataFrame.

Here's an example to illustrate the difference between a Pandas DataFrame and a Pandas Series:

In [5]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame with a single column
my_dataframe = pd.DataFrame({'My Column': [1, 2, 3, 4, 5]})

# Displaying the Series and DataFrame
print("My Series:")
print(my_series)

print("\nMy DataFrame:")
print(my_dataframe)

My Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

My DataFrame:
   My Column
0          1
1          2
2          3
3          4
4          5

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Answer 5....

Pandas provides many functions to manipulate data in a DataFrame. Some of the most commonly used functions include:

In [6]:
# 1)  head() and tail(): These functions are used to display the first few and last few rows of a DataFrame, respectively. They are useful for quickly inspecting the contents of a DataFrame.

import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'], 
                   'Age': [25, 30, 27], 
                   'Gender': ['Female', 'Male', 'Female']})

# Displaying the first few rows
print(df.head())

# Displaying the last few rows
print(df.tail())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# 2) describe(): This function provides a statistical summary of the DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values. It is useful for quickly getting an idea of the distribution of the data in the DataFrame.

import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'], 
                   'Age': [25, 30, 27], 
                   'Gender': ['Female', 'Male', 'Female']})

# Displaying the statistical summary
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [8]:
# 3) groupby(): This function is used to group the data in the DataFrame based on one or more columns. It is useful for performing aggregate operations on the grouped data, such as calculating the mean or sum.

import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire', 'Bob'], 
                   'Age': [25, 30, 27, 28], 
                   'Gender': ['Female', 'Male', 'Female', 'Male']})

# Grouping by the 'Gender' column and calculating the mean age
grouped = df.groupby('Gender')
print(grouped['Age'].mean())

Gender
Female    26.0
Male      29.0
Name: Age, dtype: float64

In [9]:
# 4) drop(): This function is used to drop one or more rows or columns from the DataFrame. It is useful for removing data that is not needed or that contains missing values.

import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'], 
                   'Age': [25, 30, None], 
                   'Gender': ['Female', 'Male', 'Female']})

# Dropping the rows that contain missing values
df = df.dropna()

print(df)

    Name   Age  Gender
0  Alice  25.0  Female
1    Bob  30.0    Male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer 6....

In Pandas, both Series and DataFrame are mutable in nature, which means that they can be modified after they are created. However, Panel is an immutable data structure in Pandas, which means that it cannot be modified after it is created.

In general, mutable objects are those that can be modified after they are created, while immutable objects cannot be modified after they are created. The mutability of an object can have implications for how it is used and shared in a program, so it is important to be aware of the mutability of the data structures used in a particular context.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Answer 7....

We can create a Pandas DataFrame using multiple Pandas Series. To do this, we can first create each Series and then combine them into a single DataFrame using the pd.DataFrame() function. Each Series will correspond to a column in the resulting DataFrame, and we can specify the column names when creating the DataFrame. Here's an example:

In [10]:
import pandas as pd

# Creating three Pandas Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combining the Series into a single DataFrame
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})

# Displaying the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female