Q1. List any five functions of the pandas library with execution.

In [ ]:
# Answer....

 read_csv(): This function is used to read a CSV file into a Pandas DataFrame.

import pandas as pd

df = pd.read_csv('filename.csv')

In [ ]:
head(): This function is used to display the first n rows of a DataFrame.

python
Copy code
import pandas as pd

df = pd.read_csv('filename.csv')
print(df.head(10)) # display the first 10 rows

In [ ]:
groupby(): This function is used to group the data in a DataFrame based on one or more columns.

python
Copy code
import pandas as pd

df = pd.read_csv('filename.csv')
grouped_data = df.groupby('column_name')

In [ ]:
merge(): This function is used to merge two DataFrames into a single DataFrame based on a common column.

python
Copy code
import pandas as pd

df1 = pd.read_csv('filename1.csv')
df2 = pd.read_csv('filename2.csv')
merged_data = pd.merge(df1, df2, on='column_name')

In [ ]:
pivot_table(): This function is used to create a pivot table from a DataFrame.

python
Copy code
import pandas as pd

df = pd.read_csv('filename.csv')
pivot_table = df.pivot_table(index='column_name', values='value_column', aggfunc='mean')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
# Answer...

# Sure, here's a Python function that re-indexes a Pandas DataFrame with a new index that starts from 1 and increments by 2 for each row:

python
Copy code
import pandas as pd

def reindex_df(df):
    # Create a new index with range starting from 1 and incrementing by 2 for each row
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2+1)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

In [ ]:
# You can then pass your DataFrame df as an argument to this function to re-index it:

python
Copy code
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
reindexed_df = reindex_df(df)
print(reindexed_df)

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [ ]:
# Answer 3....

# Sure, here's a Python function that iterates over a Pandas DataFrame df and calculates the sum of the first three values in the 'Values' column:

python
Copy code
import pandas as pd

def calculate_sum(df):
    values_sum = 0
    # Iterate over the first three rows of the 'Values' column and calculate their sum
    for value in df['Values'].iloc[:3]:
        values_sum += value
    # Print the sum to the console
    print("Sum of the first three values in the 'Values' column: ", values

In [ ]:
# You can then pass your DataFrame df as an argument to this function to calculate the sum:

python
Copy code
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
calculate_sum(df)

Sum of the first three values in the 'Values' column:  6

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
# Answer 4....

# Sure, here's a Python function that creates a new column 'Word_Count' in a Pandas DataFrame df that contains the number of words in each row of the 'Text' column:

python
Copy code
import pandas as pd

def count_words(df):
    # Split the 'Text' column by whitespace and count the number of resulting words
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [ ]:
# You can then pass your DataFrame df as an argument to this function to create the new 'Word_Count' column:

python
Copy code
df = pd.DataFrame({'Text': ['This is a sentence.', 'Here is another sentence with more words.']})
df = count_words(df)
print(df)

                                        Text  Word_Count
0                          This is a sentence.           4
1  Here is another sentence with more words.           7

Q5. How are DataFrame.size() and DataFrame.shape() different?

Answer 5...

DataFrame.size() and DataFrame.shape() are both methods of the Pandas DataFrame class, but they have different purposes and return different information.

DataFrame.size() returns the total number of elements in a DataFrame. It is equivalent to the number of rows multiplied by the number of columns. This method returns a scalar value.

DataFrame.shape() returns a tuple containing the number of rows and columns in a DataFrame. The first element of the tuple is the number of rows and the second element is the number of columns. This method returns a tuple.

In [ ]:
# For example, consider the following Pandas DataFrame:

python
Copy code
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [ ]:
print(df.size)     
print(df.shape)

6
(3,2)

Q6. Which function of pandas do we use to read an excel file?

Answer 6...

To read an Excel file into a Pandas DataFrame, you can use the read_excel() function provided by the pandas library.

The read_excel() function reads the contents of an Excel file and returns a Pandas DataFrame. It provides various parameters to customize the behavior of the reading process, such as specifying the sheet name, header row, data types, and column names.

Here is an example of how to use the read_excel() function to read an Excel file named 'data.xlsx' located in the current directory:

In [ ]:
import pandas as pd

df = pd.read_excel('data.xlsx')

In [ ]:
 # To read the second sheet and skip the first row, you can use the following code:
    
    df = pd.read_excel('data.xlsx', sheet_name=1, header=1)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

Answer 7...

To extract the username part from email addresses in the 'Email' column of a Pandas DataFrame and create a new 'Username' column with the extracted values, you can use the str accessor with the split() method and string indexing. Here is an example Python function that achieves this:

In [ ]:
import pandas as pd

def extract_username(df):
    # Extract the username from the 'Email' column using the 'str' accessor and 'split()' method
    usernames = df['Email'].str.split('@').str[0]
    
    # Add the 'Username' column to the DataFrame with the extracted usernames
    df['Username'] = usernames
    
    return df

In [ ]:
# Here is an example usage of the function:

python
Copy code
# Create a sample DataFrame
df = pd.DataFrame({'Email': ['jdoe@example.com', 'jsmith@example.com']})

# Call the extract_username() function to extract the usernames from the email addresses
df_with_usernames = extract_username(df)

# Print the resulting DataFrame
print(df_with_usernames)

              
0  jdoe@example.com     jdoe
1  jsmith@example.com   jsmith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Answer 8...

You can use boolean indexing to filter the rows that meet the criteria of column A being greater than 5 and column B being less than 10. Here's an example Python function that should achieve this:

In [6]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [ ]:
new_df = select_rows(df)