Q 1 How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?

Q 2 Refer the below var1able:
x = ‘a(
Here, 1s x a character type or str1ng type var1able? Support your answer w1th an explanat1on.

Q 3 Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foun at1on course'
SP f1n (0
.P count(0
?P len(0
P Concatenat1on
Note: You can use your cho1ce of parametersQ But make sure 1t 1s correct.

Q4 For the var1able: wor = ‘PanaJ1@T//56(
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng

Q5 Wr1te a co e to store a numer1cal value 1ns1 e a var1able then convert 1t 1nto str1ngQ

Answer 1...

To store a single quote (') as a string in a variable, you can use double quotes ("'") to enclose the string, or you can use a backslash to escape the single quote like this: '''.

Answer 2...

The variable x = 'a(' is a string type variable because it is enclosed in single quotes. In Python, single quotes and double quotes are used interchangeably to create string literals.

Answer 3...

Here are the results of applying the functions to the string 'Welcome to Python foundation course':

a) f1n(0) returns the index of the first occurrence of 'n' in the string, which is 5.

b) count(0) returns the number of occurrences of '0' in the string, which is 3.

c) len(0) returns the length of the string, which is 32.

d)Concatenation: To concatenate two strings, you can use the + operator. For example, to concatenate the string 'Hello' and 'world', you can use 'Hello' + 'world', which will result in 'Helloworld'.

Answer 4... 

For the variable wor = 'PanaJ1@T//56(', the answers are:

(a) Total number of alphabets in lowercase: 2

(b) Total number of alphabets in uppercase: 3

(c) Total number of numericals in string: 3

Answer 5...

Here is the code to store a numerical value inside a variable and convert it into a string:

In [ ]:
num = 42   # storing numerical value in variable num
num_str = str(num)   # converting num to a string and storing it in variable num_str

In this code, we first store the numerical value 42 inside the variable num. Then, we use the str() function to convert the numerical value into a string and store it in the variable num_str. Now, num_str will contain the string value "42".